<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TheMovieDB-TestSuite" verbose="1" >
    <test name="Login">
        <classes>
            <class name="tests.LoginTests" />
        </classes>
    </test>

    <test name="Filtering">
        <classes>
            <class name="tests.FilterTests"/>
        </classes>
    </test>

    <test name="Searching">
        <classes>
            <class name="tests.SearchTests"/>
        </classes>
    </test>

    <test name="ActingTimeline">
        <classes>
            <class name="tests.TimelineTests"/>
        </classes>
    </test>
</suite>
